* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #548687;
    text-align: center;
  }
  
  h1{
    color: #B5CA8D;
  }

  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    color: #998FC7;
    font-size: 8vmin;
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    border: none;
    box-shadow: 10px 10px 5px #28262C;
    background-color: #ffffc7;
  }  

  #resetButton{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 25px ;
  }

  #newGameButton{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 25px ;
  }

  #message{
    color: #ffffc7;
    font-size: 5vmin;
  }

  #message_container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    display: none;
  }